#include "Base.xcconfig"

APP_VERSION                     = $(APP_VERSION)
BUILD_NUMBER                    = $(BUILD_NUMBER)

APP_IDENTIFIER                  = $(DEVELOPMENT_IDENTIFIER)
APP_BUNDLE_DISPLAYNAME          = $(DEVELOPMENT_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(DEVELOPMENT_BUILD_DEFINITION)
PROVISIONING_PROFILE_SPECIFIER  = $(DEVELOPMENT_PROVISIONING_PROFILE_SPECIFIER)
CODE_SIGN_IDENTITY              = $(DEVELOPMENT_CODE_SIGN_IDENTITY)

DEVELOPMENT_TEAM                = $(DEVELOPMENT_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) DEBUG $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -DDEBUG -D$(APP_BUILD_DEFINITION)

CODE_SIGN_STYLE                 = Manual
KAKAO_APP_KEY                   = $(DEVELOPMENT_KAKAO_APP_KEY)
BASE_URL                        = $(DEVELOPMENT_BASE_URL)
