#include "Base.xcconfig"

APP_VERSION                     = $(APP_VERSION)
BUILD_NUMBER                    = $(BUILD_NUMBER)

APP_IDENTIFIER                  = $(RELEASE_IDENTIFIER)
APP_BUNDLE_DISPLAYNAME          = $(RELEASE_BUNDLE_DISPLAYNAME)
APP_BUILD_DEFINITION            = $(RELEASE_BUILD_DEFINITION)
PROVISIONING_PROFILE_SPECIFIER  = $(RELEASE_PROVISIONING_PROFILE_SPECIFIER)
CODE_SIGN_IDENTITY              = $(RELEASE_CODE_SIGN_IDENTITY)

DEVELOPMENT_TEAM                = $(RELEASE_IDENTIFIER_PREFIX)

GCC_PREPROCESSOR_DEFINITIONS    = $(inherited) $(APP_BUILD_DEFINITION)
OTHER_SWIFT_FLAGS               = $(inherited) -D$(APP_BUILD_DEFINITION)

CODE_SIGN_STYLE                 = Manual
KAKAO_APP_KEY                   = $(RELEASE_KAKAO_APP_KEY)
BASE_URL                        = $(RELEASE_BASE_URL)

AES_KEY                         = $(RELEASE_AES_KEY)
AES_IV                          = $(RELEASE_AES_IV)
